[build-system]
requires = ["setuptools==63.4.3", "wheel", "numpy>=1.20.0", "matplotlib>=3.4.0", "attrs>=21.2.0", "setuptools-git-versioning<2"]
build-backend = "setuptools.build_meta"

[project]
name = "TCutility"
authors = [
    "TheoChem" <"https://www.theochem.nl/>",
]
description = "Utility package for working with AMS/ADF within the Theoretical Chemistry group at the Vrije Universiteit Amsterdam (TheoCheM). Makes use of plams - a package developed by SCM"
readme = "README.md"
requires-python = ">=3.7"
classifiers = ["Programming Language :: Python :: 3", "License :: OSI Approved :: MIT License", "Operating System :: OS Independent"]
dynamic = ["version"]

[tool.setuptools-git-versioning]
enabled = true
template = "{tag}"
dev_template = "{tag}"
dirty_template = "{tag}"
