name: 'Sphinx build'

on:
  push:
    branches:
      - main
      
jobs:
  Build_Docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' 
        
      - name: Install sphinx
        run: pip install sphinx

      - name: Install sphinx theme
        run: pip install pydata-sphinx-theme

      - name: Run sphinx-apidoc
        run: cd docs; sphinx-apidoc -f -o . .. ../setup.py
        
      - name: Build the docs
        run: cd docs; make html

      - name: ls
        run: ls docs

      - name: Upload build to repo
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
            commit_message: Documentation build
            file_pattern: 'docs/*'
            add_options: '-f'
            status_options: '-uall --ignored'

  Deploy:
    runs-on: ubuntu-20.04
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' 
        
      - name: Install sphinx
        run: pip install sphinx

      - name: Install sphinx theme
        run: pip install pydata-sphinx-theme

      - id: deployment
        uses: sphinx-notes/pages@v3

  
