name: 'Documentation-no-Deploy'

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "documentation"
  cancel-in-progress: true

on:
  push:
    branches-ignore:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Build package
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install -e .

      - name: Install sphinx
        run: pip install sphinx sphinx-tabs sphinx-copybutton sphinx-autodoc-typehints sphinx-argparse

      - name: Install sphinx theme
        run: pip install pydata-sphinx-theme

      - name: Install other dependencies
        run: pip install plams

      - name: Run sphinx-apidoc
        run: cd docs; sphinx-apidoc -f -o . .. ../setup.py

      - name: Build the docs
        run: cd docs; make html
