name: 'Sphinx build'

on:
  push:
    branches:
      - main

jobs:
  Build_Docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' 
        
      - name: Install sphinx
        run: pip install sphinx

      - name: Move to doc directory
        run: cd docs

      - name: Run sphinx-apidoc
        run: sphinx-apidoc -f -o . .. ../setup.py
      - name: print wdir
        run: pwd
      - name: Build the docs
        run: ./make.bat html
  
