name: 'Sphinx build'

on:
  push:
    branches:
      - main

jobs:
  apidoc:
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' 
        run: python my_script.py
        
      - name: Install sphinx
        run: pip install sphinx

      - name: Move to doc directory
        run: cd docs

      - name: Run sphinx-apidoc
        run: sphinx-apidoc -f -o . .. ../setup.py
  
