name: Publishing to PyPI

on:
  release:
    types: [published]
  workflow_dispatch:

    
concurrency:
  group: "publishing"
  cancel-in-progress: true
  
jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi-publish
      url: https://pypi.org/project/TCutility/
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11' 

      - name: Build package
        run: |
          python -m pip install --upgrade build
          python -m build

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1

